<div class="modern-login-modal">
  <!-- Panel izquierdo con imagen -->
  <div class="modal-left">
    <img src="/assets/logo-nutricion.png" alt="Logo Nutrición" class="logo" />
  </div>

  <!-- Panel derecho con formulario -->
  <div class="modal-right">
    <!-- Botón cerrar -->
    <button type="button" class="close-btn" (click)="activeModal.dismiss('Cross click')" aria-label="Cerrar">
       <i class="bi bi-x"></i>
    </button>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-title">
        <mat-icon class="icon-title">account_circle</mat-icon>
        <h2>Iniciar sesión</h2>
      </div>

      <!-- Usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario/Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="correo" placeholder="ejemplo@email.com">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
          {{ getErrorMessage('correo') }}
        </mat-error>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="contrasena" placeholder="••••••">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
          {{ getErrorMessage('contrasena') }}
        </mat-error>
      </mat-form-field>

      <!-- Botón Iniciar sesion-->
      <button mat-raised-button color="primary" type="submit" class="login-button" [disabled]="isLoading">
        <span *ngIf="!isLoading">Iniciar sesión</span>
        <span *ngIf="isLoading" class="loading-text">
          <mat-icon class="spinning">refresh</mat-icon>
          Iniciando sesión...
        </span>
      </button>
    </form>
  </div>
</div>
