<div class="modern-login-modal">

  <!-- Panel izquierdo con imagen -->
  <div class="modal-left">
  </div>

  <!-- Panel derecho con formulario -->
  <div class="modal-right">

    <h2 class="form-title">Crear cuenta de Nutricionista</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <label for="nombre" class="form-label">Nombre completo</label>
      <input id="nombre" type="text" class="form-control" formControlName="nombre"
        placeholder="Ingresa tu nombre completo" />
      <div class="text-danger mt-1" *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">
        <div *ngIf="registerForm.get('nombre')?.errors?.['required']">
          El nombre es obligatorio
        </div>
        <div *ngIf="registerForm.get('nombre')?.errors?.['minlength']">
          El nombre debe tener al menos 3 caracteres
        </div>
        <div *ngIf="registerForm.get('nombre')?.errors?.['maxlength']">
          El nombre no puede superar 50 caracteres
        </div>
        <div *ngIf="registerForm.get('nombre')?.errors?.['pattern']">
          El nombre solo puede contener letras y espacios
        </div>
      </div>

      <!-- Email -->
      <label for="correo" class="form-label">Correo electrónico</label>
      <input id="correo" type="email" class="form-control" formControlName="correo" placeholder="ejemplo@correo.com" />
      <div *ngIf="registerForm.get('correo')?.touched && registerForm.get('correo')?.invalid" class="text-danger">
        Ingresa un correo válido.
      </div>

      <!-- Contraseña -->
      <label for="contrasena" class="form-label">Contraseña</label>
      <input id="contrasena" type="password" class="form-control full-width" formControlName="contrasena"
        placeholder="********" />
      <div *ngIf="registerForm.get('contrasena')?.touched && registerForm.get('contrasena')?.invalid"
        class="text-danger">
        La contraseña debe tener al menos 6 caracteres.
      </div>

      <!-- Confirmar contraseña -->
      <label for="confirmarContrasena" class="form-label">Confirmar contraseña</label>
      <input id="confirmarContrasena" type="password" class="form-control" formControlName="confirmarContrasena"
        placeholder="********" />
      <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmarContrasena')?.touched"
        class="text-danger">
        Las contraseñas no coinciden.
      </div>

      <!-- Botones -->
      <div class="d-flex gap-3 mt-3 px-3">
        <button type="button" class="btn btn-secondary w-100 mb-3" (click)="close()">Cancelar</button>
        <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="registerForm.invalid">Registrarse</button>
      </div>
    </form>
  </div>
</div>