<div class="modern-login-modal">
  <!-- Panel izquierdo con imagen -->
  <div class="modal-left">
  </div>
  <!-- Panel derecho con formulario -->
  <div class="modal-right">
    <!-- Botón cerrar -->
    <button type="button" class="close-btn" (click)="activeModal.dismiss('Cross click')" aria-label="Cerrar">
      <i class="bi bi-x"></i>
    </button>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-title">
        <i class="bi bi-person-circle icon-title"></i>
        <h2>Iniciar sesión</h2>
      </div>

      <!-- Correo -->
      <div class="mb-3">
        <label for="correo" class="form-label">Usuario/Correo Electrónico</label>
        <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="ejemplo@email.com" />
        <div class="text-danger mt-1" *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
          {{ getErrorMessage('correo') }}
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input [type]="hidePassword ? 'password' : 'text'" class="form-control" id="contrasena"
          formControlName="contrasena" placeholder="••••••" />
        <div class="text-danger mt-1"
          *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
          {{ getErrorMessage('contrasena') }}
        </div>
      </div>

      <!-- Botón Iniciar sesión -->
      <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="isLoading">
        <span *ngIf="!isLoading">Iniciar sesión</span>
        <span *ngIf="isLoading">
          <i class="bi bi-arrow-repeat spinner-border-sm"></i>
          Iniciando sesión...
        </span>
      </button>

      <!-- Registro -->
      <div class="register-option">
        <span>¿No tienes cuenta?</span>
        <a (click)="openRegister()">Regístrate aquí</a>
      </div>

    </form>
  </div>
</div>